mat-toolbar {
  height: 10%;
  font-size: 20em;
  padding: 0%;
}

mat-toolbar, .icon-btn, .title a{
  background-color: #8D6E63;
  color: #FFEBEE;
}

.icon-btn {
  border: none;
  color: #ffffff;
}

.icon-menu {
  font-size: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.title a{
  text-decoration: none;
  font-size: 11%;
}

.sidenav-container {
  height: 90%;
}

mat-sidenav {
  background-color: #CCB9BC;
  width: 19em;
  text-align: left;
}

mat-nav-list a:first-child {
  padding-top: 2.5em;
}

mat-nav-list a {
  font-size: 225%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 5%;
}

.content-screen {
  background-color: #BE9C91;
}

mat-nav-list mat-divider {
  width: 80%;
  border-bottom: .2em solid black;
  margin-left: 8.5%;
}
