
<!-- <mat-grid-list cols="5" rowHeight="100px"> -->
  <mat-toolbar>
 <!--    <mat-grid-tile [colspan]="1"> -->
      <button mat-icon-button class="icon-btn"
      aria-label="menu"
      (click)="snav.toggle()">
        <mat-icon class="icon-menu">menu</mat-icon>
      </button>
<!--     </mat-grid-tile>
    <mat-grid-tile [colspan]="3"> -->
    <div class="title">
      <a [routerLink]="['home']">Burger Queen</a>
    </div>
<!--     </mat-grid-tile> -->
  </mat-toolbar>
<!-- </mat-grid-list> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav>
  <mat-nav-list>
    <a mat-list-item [routerLink]="['home']">inicio</a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="['ready-orders']">Pedidos Listos</a>
  </mat-nav-list>
  </mat-sidenav>-

  <mat-sidenav-content class="content-screen">
    <app-views></app-views>
  </mat-sidenav-content>
  </mat-sidenav-container>
