.client {
  color: #FFEBEE;
}

.client-title, .client {
  padding-right: 55%;
}

.position{
  font-weight: bold;
}

mat-cell{    width: 2em;}

mat-header-cell, mat-cell {
  font-size: 2em;
  padding: .25em;
  border-bottom: .1em solid black;
}

mat-table {
  background-color: #BE9C91;
}
