<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- OrderColumn -->
  <ng-container matColumnDef="order" class="kk">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell class="position" *matCellDef="let element"> {{element.order}} </mat-cell>
  </ng-container>

  <!-- Client Column -->
  <ng-container matColumnDef="client">
    <mat-header-cell class="client-title" *matHeaderCellDef> Client </mat-header-cell>
    <mat-cell class="client" *matCellDef="let element"> {{element.client}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
