<div class="menu-container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          DESAYUNO
      </mat-expansion-panel-header>
      <button mat-raised-button>Café americano</button>
      <button mat-raised-button>Café con leche</button>
      <button mat-raised-button>Sandwich de jamón y queso</button>
      <button mat-raised-button>Jugo natural</button>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        MENU
    </mat-expansion-panel-header>
      <button mat-raised-button>Simple</button>
      <button mat-raised-button>doble</button>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        AGREGADOS
    </mat-expansion-panel-header>
    <button mat-raised-button>Papas fritas</button>
    <button mat-raised-button>Onion Rings</button>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
          BEBIDAS
    </mat-expansion-panel-header>
    <button mat-raised-button>Agua</button>
    <button mat-raised-button>Gaseosa</button>
  </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>
 -->
